@import '../../global-css/colors.scss';

.subheader {
  height: 110px;
  border-bottom: 1px solid $color-silver;
  padding: 10px 30px;

  .image-container {
    width: 80px;
    float: left;
    margin: 0 25px 0 0;

    .image {
      width: 80px;
      height: 80px;
      border-radius: 50px;
    }
  }

  .info {
    width: 480px;
    float: left;

    .name {
        color: $color-space;
        letter-spacing: 1px;
        margin: 0 0 4px 0;
    }

    .type {
        @extend .name;
        color: $color-wasabi;
        font-size: 14px;
    }

    .review {
      @extend .type;
      color: $color-silver;
    }
  }

  .address-content {
    width: 300px;
    display: inline-block;
  }

  .address-label {
    color: $color-silver;
    font-size: 12px;
    margin: 0 0 2px 0;
    text-transform: uppercase;
  }

  .address {
    letter-spacing: 1px;
    font-size: 14px;
    color: $color-wasabi;
  }
}